body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    max-height: 100vh;
}

.container {
    margin: 0px 166px;
}

.header {
    background-color: #EBFFE4;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.group2{
    top: 10px;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: gray;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;

    margin-right: 25px;

    transition: color 0.3s linear;
}

.group2{
    background-image: url(cenn.png);
    background-repeat: no-repeat;
}

.nav-item:hover {
    color: black;
}

.num {
    color: gray;
    text-decoration: none;
    font-weight: 700;

    transition: color 0.3s linear;
}

.num:hover {
    color: #d81d1d;
}

.button {
    background-color: rgba(92, 190, 58, 1);
    color: white;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #894b17;
}

.block-left{
    margin-top: 200px;
    padding-left: 250px;
    font-size: 27px;
    position: absolute;
    left: 0; 
    top: 0; 
    width: 50%;
}

.block-right{
    margin-top: 200px;
    padding-left: 250px;
    font-size: 27px;
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 50%;
}

.swoosh-2{
    padding-left: 15px;
}

.btn-1{
    padding-top: 84px;
    font-weight: 5px;
}

.button-1{
    border: 2px solid;
    border-color: rgba(91, 190, 58, 0.555);
    border-radius: 5px;
    text-decoration: none;
    padding: 12px 16px;
    margin-left: 30px;
    color: rgba(92, 190, 58, 1);
}

.k{
    display: flex;
    justify-items: flex-start;
    padding-top: 100px;
    font-size: 85px;
    font-weight: 600;
    color: rgba(92, 190, 58, 1);
}

.k2{
    padding-left: 68px;
}

.c{
    display: flex;
    justify-items: flex-start;
    font-size: 16px;
    padding-left: 30px;
}

.c2{
    padding-left: 130px;
}

.button-2{
    background-color: rgba(92, 190, 58, 1);
    color: white;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s linear;
}

.price-1{
    padding-top: 10px;
    font-weight: 700;
    font-size: 31px;
    color: rgba(92, 190, 58, 1);
}

.ready{
    font-weight: 700;
    color: rgba(92, 190, 58, 1);
    padding-left: 5px;
    padding-right: 5px;
}

.price-2{
    font-size: 27px;
    opacity: 0.5;
    padding-left: 30px;
}

.container-2{
    background-image: url(Group15.png);
    background-repeat: no-repeat;
    height: 500px;
    left: 100px;
    top: 300px;
}

.text-1{
    color: rgba(92, 190, 58, 1);
}

.text-2{
    font-size: 70px;
    font-weight: 600;
    padding-top: 5px;
}

.text-3{
    display: flex;
    text-wrap: wrap;
    font-size: 20px;
    padding-top: 5px;
}

.text-4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    padding-top: 5px;
}

.sneakers-1{
    display: flex;
    justify-content: space-evenly;
    margin-left: 350px;
}

/* main */

.main-header{
    height: 3474px;
    margin-top: 1000px;
    margin-left: 200px;
    padding-right: 100px;
}

.container-3{
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    font-weight: 700;
}

.podstrochniy-text{
    display: flex;
    justify-content: space-around;
    padding-top: 26px;
    font-size: 20px;
}

.podstrochniy-text2{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.grid-1{
    display: grid;
    grid-template-areas:
    "A    B    C"
    "A1   B1   C1";
    column-gap:  50px;
    padding-left: 100px;
    padding-top: 100px;
}

.A1{
    grid-area: A1;
    padding-left: 80px;
    font-weight: 600;
    font-size: 18px;
}

.B1{
    grid-area: B1;
    padding-left: 80px;
    font-weight: 600;
    font-size: 18px;
}

.C1{
    grid-area: C1;
    padding-left: 80px;
    font-weight: 600;
    font-size: 18px;
}

.stars{
    padding-left: 75px;
    padding-top: 10px;
}

.summ{
    font-weight: 800;
    font-size: 22px;
    padding-left: 70px;
    padding-top: 10px;
}

.btn-3{
    padding-top: 50px;
    padding-left: 90px;
}

.view-part{
    position: relative;
    padding-top: 136px;
    padding-left: -50px;
}

.img-text{
    position: absolute;
    top: 0;
    padding-top: 300px;
    padding-left: 300px;
    font-size: 50px;
    font-weight: 700;
}

.img-text1{
    position: absolute;
    top: 0;
    padding-top: 450px;
    padding-left: 300px;
    font-size: 20px;
    font-weight: 300;
}

.dunk-img{
    position: absolute;
    padding-top: 50px;
    padding-left: -50px;
}

.btn-7{
    background-color: rgba(92, 190, 58, 1);
    width: 100px;
    height: 100px;
    position: absolute;
    left: 1080px;
    top: 360px;
    border: none solid;
    border-radius: 100%;
}

.button-7{
    width: 50px;
    height: 50px;
    position: relative;
    top: 30px;
    left: 40px;
}

.block-left1{
    padding-top: 136px;
    padding-left: 50px;
}

.block-right1{
    margin-top: 2590px;
    padding-left: 250px;
    font-size: 27px;
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 50%;
}

.swoosh-text{
    position: absolute;
    top: 0;
    margin-top: 2550px;
    font-size: 40px;
    font-weight: 700;
    padding-left: 905px;
}

.list-1{
    list-style-image: url(img/swoosh-list.png); 
    position: absolute;
    top: 0;
    margin-top: 2700px;
    padding-left: 950px;
}

.list-child{
    padding-top: 25px;
}

.lastsection{
    position: relative;
    margin-top: 145px;
    margin-left: 600px;
}

.lastsection1{
    position: absolute;
    margin-top: 145px;
    margin-left: 800px;
}

.rounds{
    margin-top: -200px;
    margin-left: 250px;
}

.first-round{
    padding-right: 25px;
}

.second-round{
    padding-right: 25px;
}

.arrow{
    margin-top: -100px;
    margin-left: 0px;
}

.getstarted{
    margin-top: 200px;
    margin-left: 150px;
}

.top2{
    position: absolute;
}

.top1{
    position: relative;
    font-weight: 700;
    font-size: 40px;
    margin-left: 450px;
    padding-top: 100px;
}

.top-3{
    position: relative;
    font-weight: 300;
    font-size: 20px;
    margin-left: 370px;
    padding-top: 30px;
}

.top-4{
    position: relative;
    font-weight: 300;
    font-size: 20px;
    margin-left: 440px;
}

.footer-line{
    padding-top: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.follow{
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
}

.follow1{
    padding-right: 40px;
}

.icon1{
    padding-right: 15px;
}

.icon2{
    padding-right: 15px;
}

.nav-item1{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    margin-right: 25px;
    transition: color 0.3s linear;
}

.end{
    background-color: rgba(92, 190, 58, 1);
    margin-left: -200px;
    width: 1900px;
    margin-top: 50px;
}
